<div class="loading-overlay" *ngIf="loadingService.loading$ | async">
  <div class="spinner-container">
    <div class="homeopathy-spinner">
      <!-- <img src="../../../../assets/legacy-site/loader/Homeo-loader.png" alt="Loading Spinner" /> -->
      <!-- <img src="/Manus_Homeopathy_Logo.png" alt="Loading Spinner" /> -->
       📚
    </div>
    <p class="loading-text">Loading<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span></p>
  </div>
</div>

<!-- Give dark and light mode to my entire application. if user is in light mode, then he clicks on darkmode button then it should turns into dark mode. if is in dark mode then he clicks on light mode button then turns into light mode. The dark and light buttons should display in tool bar of top nav -->
 